.asociadas-item { 
  --imagesize: 300px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  box-shadow: rgb(113, 111, 104) 10px 5px 24px -19px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  border: 1px solid #000;
  padding-top: var(--imagesize);
  background: #fff var(--bgimage) center top no-repeat;
  background-size: auto var(--imagesize);
}

@media (min-width: 600px) {
  .asociadas-item { 
    width: calc(50% - 40px);
  }
}

@media (min-width: 900px) {
  .asociadas-item { 
    width: calc(25% - 40px);
  }
}

@media (min-width: 1200px) {
  .asociadas-item { 
    width: calc(20% - 40px);
  }
}

.asociadas-item > * {
  padding: 10px; 
}

.asociadas-item > img {
  box-sizing: border-box;
  width: 100%;
}